dj-database-url==3.0.0
Django==5.2.1
django-cors-headers==4.7.0
django-extensions==4.1
django-filter==25.1
django-otp==1.6.1
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
gunicorn==23.0.0
Pillow==9.0.1
pyotp==2.9.0
rest-framework-simplejwt==0.0.2
sqlparse==0.5.3
stripe==12.2.0